body{
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: #D678FF ;
}

.formulario {
    position: absolute;
    top: 400px;
    left: 800px;
    transform: translate(-50%, -50%);
    width: 400px;
    background-color: white;
    border-radius: 10px;

}

.formulario h1 {
    text-align: center;
    padding: 0 0 20px 0;
    border-bottom: 1px solid silver;
}

.formulario form {
    padding: 0 40px;
    box-sizing: border-box;

}

form .username{
    position: relative;
    border-bottom: 2px solid #adadad;
    margin: 30px 0;
}

form .contraseña{
    position: relative;
    border-bottom: 2px solid #adadad;
    margin: 30px 0;
}

.username input{
    width: 310px;
    padding: -10 50px;
    height: 40px;
    font-size: 16px 25px;
    border: none;
    background: none;
    outline: none;
}

.username label{
    position: absolute;
    top: 10%;
    left: 75px;
    color: #adadad;
    transform: translate(20%);
    font-size: 16px;
    pointer-events: nome;

}

.contraseña input{    
    width:310px;
    padding: -10 50px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;

}

.contraseña label{
    position: absolute;
    top:10px;
    left: 75px;
    color: #adadad;
    transform: translate(70%);
    font-size: 16px;
    pointer-events: nome;
}

.recordar{
    margin: -5px 0 20px 5px;
    color: blueviolet;
    cursor: pointer;
}
.recordar :hover{
    text-decoration:  underline;
}

input[type="submit"]{
    content: "";
    width: 325px;
    height: 50px;
    background: blueviolet; 
    z-index: 1;
    top: 50%;
    left: 50%;
    transition: 3s ease-in-out all;
    border-radius: 100px;
    transform-origin: center;
    cursor: pointer;
}

input[type="submit"]::after{
    transform: scale(400);
    background: blueviolet;
    border-radius: 100px;
    }

.registrarse {
    margin: 30px 0;
    text-align: center;
    font-size: 16px;
    color: black;
}

.registrarse a{
    color: blueviolet;
    text-decoration: nome;
}
.registrarse a:hover{
    text-decoration: underline;
}
















